body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: linear-gradient(to right, navy, blue, navy);
  width: 450px;
  height: 600px;
  border-radius: 10px;
  margin: 30px auto;
  box-shadow: 0px 3px 5px rgb(10, 13, 3);
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.search-bar {
  display: flex;
  padding: 26px 30px;

}
.search-bar img {
  width: 30px;
  height: 28px;
  padding: 5px;
  background-color: white;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  cursor: pointer;
}

.search-bar input {
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  width: 90%;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid rgb(241, 238, 238);
}

.search-bar img:active {
  background: lightgray;
}
.search-bar input:hover{
  background-color: rgb(248, 243, 243);
  box-shadow:0 0 10px #272121;
}
.Sunny {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Sunny .degrees {
  font-size: 60px;
  color: white;
  margin-top: -50px;
}

.Sunny .location {
  font-size: 40px;
  color: white;
  margin-top: -50px;
}

.Sunny img {
  width: 300px;
  height: 300px;
}

.mainSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section1 {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.Humidity {
  overflow: hidden;
}

.Humidity img {
  width: 30px;
  height: 30px;
  filter: drop-shadow(0px 100px 0 white);
  transform: translateY(-100px);
}

.Humidity .persantage {
  font-size: 20px;
  color: white;
  margin-top: -5px;
}

.Humidity .Humi {
  font-size: 15px;
  color: white;
  margin-top: -20px;
}

.section2 {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.wind {
  overflow: hidden;
}

.wind img {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0px 100px 0 white);
  transform: translateY(-100px);
}

.wind .kilo {
  font-size: 20px;
  color: white;
  margin-top: -5px;
}

.wind .speed {
  font-size: 15px;
  color: white;
  margin-top: -20px;
}